<template>
  <q-page class="column flex flex-center">
    <q-input
      class="q-pa-md"
      name="email"
      color="primary"
      v-model="email"
      square
      outlined
      standout="bg-blue-5 text-white"
      label="البريد الالكتروني"
      input-class="text-bold"
    ></q-input>

    <q-input
      class="q-pa-md"
      name="password"
      color="primary"
      v-model="password"
      square
      outlined
      standout="bg-blue-5 text-white"
      label="كلمة السر"
      input-class="text-bold"
    ></q-input>
    <div style="color: red" v-html="error"></div>
    <br />
    <q-btn class="q-pa-sm" color="primary" square outlined @click="register"
      >REGISTER</q-btn
    >
  </q-page>
</template>

<script>
import AuthenticationServices from "src/services/AuthenticationServices";
export default {
  data() {
    return {
      email: "",
      password: "",
      error: null,
      showError: false,
    };
  },
  methods: {
    async register() {
      try {
        const response = await AuthenticationServices.register({
          email: this.email,
          password: this.password,
        });
        console.log(response.data);
      } catch (error) {
        this.error = error.response.data.error;
        this.showError = true;
      }
    },
  },
  watch: {
    email(value) {
      console.log("email changed", value);
    },
  },
};
</script>
